ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  background-color: #194143;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border-radius: 10px;
  padding: 10px;
  //   height: 60px;
  color: #fff;
  border: 1px solid #2f8b8f;
  color: #afe4e6;
}

.details {
  display: flex;
  flex-direction: column;
}

.customer {
  font-weight: bold;
}

.detail {
  font-size: 0.8rem;
}

button {
  cursor: pointer;
  background: #0a2122;
  border: 1px solid #2e8b8f;
  color: #afe3e6;
  padding: 7px;
  border-radius: 9px;
  //   letter-spacing: 1px;
  font-size: 0.8rem;
  transition: all 0.1s;
}

button:hover {
  background-color: #ce7705;
  color: #fff0dc;
  border-color: #ffbc65;
}
