<main>
  <div class="container">
    <h1>
      <span class="highlight">Refine</span>
      Your Workflow
      <span class="highlight">Perfect</span>
      Your Craft
    </h1>
    <p class="description">
      Carver makes it easy to manage customers, track transactions, and streamline every step of
      your meat processing workflow.
    </p>
    <div class="actions">
      <button matButton="outlined">Learn more</button>
      <button matButton="filled" routerLink="/sign-in">Sign in</button>
    </div>
  </div>
</main>

<!-- <p class="description">
    The smarter way to run your butchery. Effortlessly manage customers, track transactions, and
    streamline every step of your meat processing workflow. With Carve, your business stays
    organized, efficient, and ready to serve—so you can focus on what you do best: delivering
    quality cuts.
  </p> -->
