:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

app-top-nav {
  margin-bottom: 1rem;
}
.content {
  width: var(--component-max-width);
  flex: 1;
  display: block;
  margin: 0 auto;
}
